---
layout: page
description: "一顿操作猛如虎，一看战绩零杠五"
---
<style>
  .intro-header:before{
    content: "";
    position: absolute;
    width:150px;
    height: 100%;
    top: 0;
    left:-11.5%;
    overflow: hidden;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0)0, rgba(255, 255, 255, .2)50%, rgba(255, 255, 255, 0)100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, .2)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0)0, rgba(255, 255, 255, .2)50%, rgba(255, 255, 255, 0)100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0)0, rgba(255, 255, 255, .2)50%, rgba(255, 255, 255, 0)100%);
    -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg)
}
.intro-header:hover:before {
    left: 100%;
    transition: left 2s ease 0s;
}
	
			.text {
  fill: url(#p-fire);
  stroke: #330000;
  stroke-width: 5.8;
  stroke-opacity: .1;
}
  svg {
  
  width: 100%;
  height: 100%;
}
	.playground {
  position: relative;
  width: 140px;
  height: 400px;
  left: 50%;
  margin-left: -70px;
}
.flame {
  opacity: 0;
  position: absolute;
  bottom: 60%;
  left: 0;
  width: 14px;
  height: 70px;
  background-color: white;
  border-radius: 100% 100% 0 0;
  box-shadow: 0 0 20px #FFFEF0, 0 0 20px #FFFEE6, 0 0 20px #fefcc9,  10px -10px 30px #feec85,  -20px -20px 40px #ffae34,  20px -40px 50px #ec760c,  -20px -60px 60px #cd4606,  0 -80px 70px #973716,  10px -90px 80px #451b0e;
  animation: flame 3s infinite linear;
}
.lighterBody {
  position: absolute;
  width: 140px;
  height: 130px;
  top: 200px;
  left: 0;
  background: linear-gradient(to right, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
  border-radius: 2% 2% 8% 8%;
  box-shadow: inset 0 0 5px 5px #333333;
}
.lighterBody:before {
  width: 47px;
  height: 47px;
  top: -50px;
  left: 42px;
  border-radius: 6% 6% 0 0;
  background: linear-gradient(to right, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
  content: "";
  color: #e6e6e6;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 16px;
  text-shadow: 0 0 5px black;
  padding-top: 3px;
  padding-left: 4px;
}
.lighterBody:after {
  width: 33px;
  height: 33px;
  background: radial-gradient(ellipse at center, #7d7e7d 0%, #0e0e0e 100%);
  border-radius: 100%;
  top: -33px;
  left: 6px;
  box-shadow: inset 0 0 1px 2px gray;
}
.playground:hover .flame {
  opacity: 1;
  transition: 0.4s linear;
}
.playground:hover .lid {
  animation: lidOff 0.3s linear;
  animation-fill-mode: forwards;
}
.hover {
  text-align: center;
  margin-top: 30%;
  font-family: 'Sonsie One', cursive;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}
.hover:before {
  z-index: 1;
  width: 0;
  height: 0;
  top: -50px;
  left: 20px;
  border-bottom: 35px solid #f2f2f2;
  border-left: 22px solid transparent;
}
.lid {
  z-index: 2;
  position: absolute;
  width: 140px;
  height: 75px;
  top: 125px;
  left: 0;
  background: linear-gradient(to right, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
  border-radius: 8% 8% 2% 2%;
  box-shadow: inset 0 0 5px 5px #333333;
}
.lid:before {
  width: 10px;
  height: 10px;
  top: 70px;
  left: 133px;
  background: radial-gradient(ellipse at center, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%);
  border-radius: 100%;
}
@keyframes flame {
  0% {
    height: 70px;
    transform: skewY(0deg);
    border-radius: 100% 100% 0 0;
  }
  25% {
    height: 60px;
    transform: skewY(40deg);
    border-radius: 10% 100% 0 0;
  }
  60% {
    height: 65px;
    transform: skewY(-20deg);
    border-radius: 90% 10% 0 0;
  }
  70% {
    height: 50px;
    transform: skewY(10deg);
    border-radius: 10% 100% 0 0;
  }
  100% {
    height: 70px;
    transform: skewY(0deg);
  }
}
@keyframes lidOff {
  from {
    transform: rotate(0deg);
    transform-origin: 100% 100%;
  }
  to {
    transform: rotate(130deg);
    transform-origin: 100% 100%;
  }
}
	
	#zoppo{
	    float: left;
    margin-left: 162px;
    height: 255px;
    margin-top: -112px;
	}
    </style>


{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

<script>
　 var num=0;
  var sp = setInterval(function(){
    num++;
    $('.intro-header').css('background-image',"url('/img/example-slide-"+num+".jpg')");
    if(num>3){
      num=0
    }
  },2500);
var burning=function(){
  var str=`
       <svg viewBox="0 0 600 300">
            <!-- Pattern -->
            <pattern id="p-fire" viewBox="30 100 186 200" patternUnits="userSpaceOnUse" width="216" height="200" x="-70" y="35">
                <!-- Fire -->
                <image xlink:href="img/fire.gif" width="256" height="300"/>
            </pattern>
            <!-- Text -->
            <text text-anchor="middle" x="50%" y="50%" dy=".35em" class="text animated tada">
                 永超同学| Blog
			</text>
        </svg>
`;
$('.site-heading>h1').html(str);
}
// 	setTimeout(burning,2000);
window.onload=function(){
	$(window).scroll(function(){
		  //输出垂直的滚动距离
		  var ctop=$(this).scrollTop();
			$('.post-preview').each(function(){
				if($(this).offset().top<ctop+350){
				$(this).addClass('animated rubberBand')
				}
			});
		if($('.short-about>a>img').offset().top<ctop+280){
		$(this).addClass('animated slideInUp')
		}
			});
	//zoppo
	var zop=`<div id="zoppo">
		<div class='playground'>
				<div class='flame'></div>
				<div class='lighterBody'>
					<div class='hover'>
						 大哥来点火儿!
					</div>
				</div>
				<div class='lid'></div>
			</div>
			<div style="text-align:center;clear:both;">
			</div>
		</div>`;
// 	 var zdom=document.getElementsByClassName("site-heading");
// 	zdom[0].appendChild(zop);
	$('.site-heading').append(zop);
	
	$('.playground').mouseenter(function(){
		setTimeout(burning,2500);
		
		setTimeout(function(){
		$('#zoppo').remove();
		},2000);
	})
}
	
  </script>
